# App URL (gunakan URL production saat deploy)
NEXTAUTH_URL=http://localhost:3000

# Secret untuk Auth.js (generate: `openssl rand -base64 32`)
AUTH_SECRET=

# Supabase Postgres connection string (mode pooling)
# Format: postgresql://postgres.<project-ref>:<db-password>@aws-0-<region>.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1
DATABASE_URL=

# Supabase client (public)
NEXT_PUBLIC_SUPABASE_URL=https://qsgnarjotqcjrbphxqtm.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_oTmQjIey7x1645JL155RxQ_c7_0qLt_
